MONGODB_URI=
SECRET_KEY=

# stripe
STRIPE_SECRET_KEY=
STRIPE_ENDPOINT_SECRET=

# sslcommersz
SSL_STORE_ID=
SSL_STORE_PASS=


# bkash
SANDBOX_WALLET_NUMBER=01770618576
SANDBOX_WALLET_NUMBER_TWO=01929918378
SANDBOX_WALLET_NUMBER_THREE=01770618575    #worked
SANDBOX_WALLET_NUMBER_FOUR=01877722345
SANDBOX_WALLET_NUMBER_FIVE=01619777282
SANDBOX_WALLET_NUMBER_SIX=01619777283
SANDBOX_WALLET_INSUFFICIENT_BALANCE=01823074817
SANDBOX_WALLET_DEBIT_BLOCK=01823074818
SANDBOX_WALLET_PIN=12121
SANDBOX_WALLET_OTP=123456
SANDBOX_USERNAME=
SANDBOX_PASSWORD=
SANDBOX_APP_KEY=
SANDBOX_APP_SECRET_KEY=
SANDBOX_GRANT_TOKEN_API=https://tokenized.sandbox.bka.sh/v1.2.0-beta/tokenized/checkout/token/grant
SANDBOX_REFRESH_TOKEN_API=https://tokenized.sandbox.bka.sh/v1.2.0-beta/tokenized/checkout/token/refresh
SANDBOX_CREATE_PAYMENT_API=https://tokenized.sandbox.bka.sh/v1.2.0-beta/tokenized/checkout/create
SANDBOX_EXECUTE_PAYMENT_API=https://tokenized.sandbox.bka.sh/v1.2.0-beta/tokenized/checkout/execute
SANDBOX_QUERY_PAYMENT_API=https://tokenized.sandbox.bka.sh/v1.2.0-beta/tokenized/checkout/payment/status
SANDBOX_REFUND_API=https://tokenized.sandbox.bka.sh/v1.2.0-beta/tokenized/checkout/payment/refund
SANDBOX_SEARCH_TRANSECTION_API=https://tokenized.sandbox.bka.sh/v1.2.0-beta/tokenized/checkout/general/searchTransaction
